.ixir-wh-migrate-eyebrow .fas {
  font-size: 12px;
}
.ixir-wh-why .container {
  position: relative;
  z-index: 1;
}
.ixir-wh-why-check .fas {
  line-height: 1;
}

@media (min-width: 992px) {
  section#home-banner.ixir-hero--wordpress .ixir-hero-photo img {
    object-position: 50% center !important;
  }
}
